* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    
  }

  .app {
    background-color: #eee9;
  }

  
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: #1b1b1b;

}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    background-color: black;
    padding: 5px 12px;
    border-radius: 5px;
    transition: background-color .3s;
}
.navbar button{
    padding: 5px 12px;
    background-color: #404040;;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #4f4f4f;
    
}
.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1593186508345-95e10a863e8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    height: 100vh;
    background-position: center;
}
  
.auth-container > h1 {
    font-size: 2em;
    margin: 24px;
    background-color: rgba(1,1,1,0.0);

    color: black;
}
  
.auth-container > p {
    margin: 16px;

    text-decoration: underline;
    font-weight: bold;
    color:black;
    background-color: rgba(1,1,1,0.0);
}
  
.auth-container > form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 10%;
    background-color: rgba(1,1,1,0.0);;
    color: white;
    display: flex;
    flex-direction: column;
    
}
  
.auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #e4e4e4;

}
  
.auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(1,1,1,0.0);
}

/* homepage */

.homepage > h1{
    text-align: center;
    font-size: 3.5vw;
    margin: 20px 0px;
}
.IssueList {

    max-width: 75%;
    min-width: 400px;
    display: block;
    margin: 0 auto;
}

.issue-container {
    border: 1px solid #b9b9b9;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.issue{
    
    border-bottom: 1px solid #b9b9b9;
    width: 100%;
    display: flex;
    margin-bottom: 15px;

}
.issue > .container{
    flex-basis: 20%;
    overflow: hidden;
    
    
}
.issue h2 {
    margin-bottom: 10px;
}
.issue > .container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.issue > .text{
    padding: 0px 15px;
    width: 65%;
    float: left;
}
.issue > .likes{
    width: 20%;
    float: left;
}
.likes button {
    margin-bottom: 3px;
}


.comments {
    padding: 2px;
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 30px;
    border-bottom: 1px solid #b9b9b9;
}
/* comments */
#add-comment-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#add-comment-form input {
    padding: 2px 5px;
    border-radius: 10px;

    width: 90%;
    

}
#add-comment-form div{
    display: inline-block;
    min-width: 100px im !important;
}
#add-comment-form button {
    padding: 2px 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #3636ff;
    color: white;
   
}
.comments p{
    padding: 5px 0px;
}
.testing{
    height: 50px;
}
.addNewPost h1{
    text-align: center;
    margin: 20px 0px;
}
.addNewPost form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.addNewPost form input{
    padding: 3px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.addNewPost form button {
    border-radius: 10px;
    background-color: #3636ff;
    color: white;
    padding: 3px 5px;
}